<div class="container">
    <div class="left">
        <img src="../img/login.png" alt="Green Leaves">
    </div>
    <div class="right">
        <div class="login-box">
            <h1>Cosmetics</h1>
            <h2>Hello, Welcome Back</h2>
            <!-- <form (ngSubmit)="login()"> -->
                <div class="textbox">
                    <input type="text" [ (ngModel)]="username" placeholder="Username" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" [ (ngModel)]="password" placeholder="Password" name="password" required>
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="social-login">
                    <p>Or</p>
                    <button class="social-btn google">G</button>
                    <button class="social-btn facebook">F</button>
                    <button class="social-btn twitter">T</button>

                </div>
                <div class="register">
                    <p>Don't have an account? <a routerLink="/register" class="link">Register here</a></p>
                </div>
            <!-- </form> -->

        </div>
    </div>
</div>
