/* .admin-container {
    padding: 20px;
  }
  
  .product-form {
    margin-bottom: 30px;
  }
  
  .product-form form {
    display: flex;
    flex-direction: column;
  }
  
  .product-form input,
  .product-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-form button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-form button:hover {
    background-color: #218838;
  }
  
  .product-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-list li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex
  } */
.admin-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

h1,
h2 {
    color: #333;
}

.form-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-container button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.product-list {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
}

.product-list th,
.product-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.product-list th {
    background-color: #f2f2f2;
}

.product-list img.product-img {
    width: 50px;
    height: auto;
}

.product-list button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.product-list button:hover {
    background-color: #45a049;
}